<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>My presentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900|Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

    <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">

      <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

      <div class="main-menu">
        <ul class="js-clone-nav">
          <li><a href="#section-home" class="nav-link" style="font-size:30px; font-weight:bold">Home</a></li>
          <li><a href="#section-ui" class="nav-link" style="font-size:30px; font-weight:bold; color:#ff0000">UI tests</a></li>
          <li><a href="#section-api" class="nav-link" style="font-size:30px; font-weight:bold">API tests</a></li>
          <li><a href="/run_all_tests" class="nav-link" style="font-size:25px; font-weight:bold; color:#0000ff">Run all tests</a></li>
          <li><a href="/run_allure" class="nav-link" style="font-size:24px; font-weight:bold; color:#EDFF21">Report Allure</a></li>
          <li><a href="#section-contact" class="nav-link" style="font-size:25px; font-weight:bold; color:#ff0000">My contacts</a></li>
        </ul>
      </div>
    </header>

    <main class="main-content">

      <section class="site-section-hero bg-image" style="background-image: url('../static/images/img_1.jpg');"  data-stellar-background-ratio="0.5" id="section-home">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-7 text-center">
              <h1 class="text-white heading text-uppercase" data-aos="fade-up" style="font-size:120px; font-weight:bold; color:#0000ff">HI and Welcome</h1>
              <p class="lead text-white mb-5" data-aos="fade-up" data-aos-delay="100" style="font-size:45px; font-weight:bold; color:#EDFF21">My name is Sergey. I am junior QA.
                <br style="font-size:23px; font-weight:bold; color:#ffe5b4"> This is my work for automation testing.</p>
              <p data-aos="fade-up" data-aos-delay="100"><a href="#section-contact" class="btn btn-primary btn-md smoothscroll" style="padding:10px 20px; margin-top:18px; font-size: 30px; border-radius:0px">Contact Me</a></p>
            </div>
          </div>
      </section>

      <section class="site-section" id="section-ui">
        <div class="container">
          <div class="row">
            <h2 class="heading text-uppercase text-white"  data-aos="fade-up" style="position:relative; right:-300px">UI tests</h2>
            <div class="col-md-12 mb-4" data-aos="fade-up">
              <div class="d-md-flex d-block blog-entry align-items-start">
                <p
                <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="../static/images/ui_test1.png" target="_blank"><img src="../static/images/ui_test1.png" width="800" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="/run_test_sing_up" style="font-size:30px; color:#ffffff">Test №1:
                  <a style="color:#ff0000; font-weight: bold" href="/run_test_sing_up">Click Me for RUN TEST</a></h2>
                  <h2 style="color:#0000ff; font-size:40px" >CHECKING REGISTRATION WITH VALID DATA</h2>
                  <p style="font-size:25px; color: #EDFF21">
                    <br>1. Open sit
                    <br>2. Close banner
                    <br>3. Change language on english
                    <br>4. Open Log in form
                    <br>5. Input registration data
                    <br>6. Сhecking that a registration confirmation message has appeared
                    <br>
                    <br>
                    <br>

                <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="../static/images/ui_test2.png" target="_blank"><img src="../static/images/ui_test2.png" width="800" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="/run_test_login" style="font-size:30px; color:#ffffff">Test №2:
                  <a style="color:#ff0000; font-weight: bold" href="/run_test_login">Click Me for RUN TEST</a></h2>
                  <h2 style="color:#0000ff; font-size:40px"> CHECKING AUTHORISATION WITH VALID DATA</h2>
                  <p style="font-size:25px; color: #ffff00">
                    <br> 1. Open site
                    <br> 2. Close banner
                    <br> 3. Change language on english
                    <br> 4. Open Log in form
                    <br> 5. Input authorisation data
                    <br> 6. Сhecking that a authorisation confirmation message has appeared
                    <br>
                    <br>
                    <br>

                <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="../static/images/ui_test3.png" target="_blank"><img src="../static/images/ui_test3.png"  width="800" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="/run_test_header" style="font-size:30px; color:#ffffff">Test №3:
                  <a style="color:#ff0000; font-weight: bold" href="/run_test_header">Click Me for RUN TEST</a></h2>
                  <h2 style="color:#0000ff; font-size:40px"> CHECKING CLICKABILITY ALL ELEMENTS OF HEADER</h2>
                  <p style="font-size:25px; color: #ffff00">
                    <br>1. Open site
                    <br>2. Close banner
                    <br>3. Change language on english
                    <br>4. Сhecking that all elements of header is clikability and pages is opening
                    <br>
                    <br>
                    <br>

                <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="../static/images/ui_test4.png" target="_blank"><img src="../static/images/ui_test4.png" width="800" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="/run_test_add_basket" style="font-size:30px; color:#ffffff">Test №4:
                  <a style="color:#ff0000; font-weight: bold" href="/run_test_add_basket">Click Me for RUN TEST</a></h2>
                  <h2 style="color:#0000ff; font-size:40px">CHECKING ORDER OF PIZZA "MUNICH" WITH HOT-DOG BOARD</h2>
                  <p style="font-size:25px; color: #ffff00">
                    <br>1. Open site
                    <br>2. Close banner
                    <br>3. Add Munich pizza with hot-dog board
                    <br>4. Open basket
                    <br>5. Inputing data in form-order pizza
                    <br>6. Сhecking confirm order pizza
                    <br>
                    <br>
                    <br>

                <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="../static/images/ui_test5.png" target="_blank"><img src="../static/images/ui_test5.png" width="800" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="/run_test_leave_comment" style="font-size:30px; color:#ffffff">Test №5:
                  <a style="color:#ff0000; font-weight: bold" href="/run_test_leave_comment">Click Me for RUN TEST</a></h2>
                  <h2 style="color:#0000ff; font-size:40px">CHECKING LEAVE COMMENT</h2>
                  <p style="font-size:25px; color: #ffff00">
                    <br>1. Open site
                    <br>2. Close banner
                    <br>3. Change language on english
                    <br>4. Add Munich pizza with hot-dog board
                    <br>5. Open form leave comment
                    <br>6. Input data in form leave comment
                    <br>7. Сhecking confirming leave comment
                </div>
              </div>
            </div>
          </div>
        </div>

      <section class="site-section" id="section-api">
          <h2 class="heading text-uppercase text-white"  data-aos="fade-up" style="position:relative; right:-300px">API tests</h2>
            <div class="col-md-12 mb-4" data-aos="fade-up">
              <div class="d-md-flex d-block blog-entry align-items-start">
                <p
                <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="../static/images/api_test1.png" target="_blank"><img src="../static/images/api_test1.png" width="800" alt="Image" class="img-fluid"></a></div>
                <div>
                  <h2 class="mt-0 mb-2"><a href="/run_test_api" style="font-size:30px; color:#ffffff">Test №1:
                  <a style="color:#ff0000; font-weight: bold" href="/run_test_api">Click Me for RUN TEST</a></h2>
                  <h2 style="color:#0000ff; font-size:40px">CHECKING ALL ELEMENTS OF HEADER WHAT ITS OPENED RELATED PAGES</h2>
                  <p style="font-size:25px; color: #ffff00; vertical-align:up">
                    <br>1. Checking code status
                    <br>2. Checking the open page by keyword
                </div>
              </div>
            </div>
          </div>

      <section class="site-section darken-bg" id="section-contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <h2 class="text-white mb-5 heading">My contacts</h2>

                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-white" for="fname">First Name</label>
                    <p type="textarea" id="fname" class="textarea" style="font-size:3em; padding:0px; margin:0px; line-height:40px; color: #808080">Siarhei</p>
                  </div>
                  <div class="col-md-6">
                    <label class="text-white" for="lname">Last Name</label>
                    <p type="textarea" id="lname" class="textarea" style="font-size:3em; padding:0px; margin:0px; line-height:40px; color: #808080">Shcholakau</p>
                  </div>
                </div>

                <div class="row form-group">

                  <div class="col-md-12">
                    <label class="text-white" for="email">Email</label>
                    <p type="email" id="email">
                    <a href="mailto:siarhei.shcholakau@gmail.com" style="font-size:2em; padding:0px; margin:0px; line-height:40px; color: #808080">siarhei.shcholakau@gmail.com</a>
                    </p>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-white" for="phone">Phone</label>
                    <p type="phone" id="phone_number">
                      <a href="tel:+375295027402" style="font-size:2em; padding:0px; margin:0px; line-height:40px; color: #808080">   +375(29) 502-74-02</a>
                    </p>
                  </div>
                </div>

                <div class="row form-group">
                  <a type="phone" id="phone" style="font-size:2em; padding:0px; margin:0px; line-height:40px"> </a>
                  <div class="col-md-12">
                    <label class="text-white" for="linkedin" >Profile in LinkedIn:</label>
                    <a type="textarea" id="linkedin" class="textarea" style="font-size:64px; padding:0px; margin:0px; line-height:40px"></a>
                      <a type="phone" style="font-size:2em; padding:8px; margin:0px; line-height:40px"></a>
                      <a href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D1%89%D1%91%D0%BB%D0%BE%D0%BA%D0%BE%D0%B2-22317026a/" target="_blank">
                        <img src="../static/images/linkedin.png" alt="Image" class="img-fluid"></a>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <a href="../static/images/QA_engineer_Shcholakau_Siarhei.pdf" target="_blank" class="btn btn-primary btn-md smoothscroll" style="margin-left:209.5px; padding:10px 20px; margin-top:18px; font-size: 30px; border-radius:0px">View my resume</a>
                  </div>

                </div>
                <video poster="../static/images/img_1.jpg" width="755" height="555" style="margin-top:30px" controls>
                  <source src="../static/images/video_about_me.mp4" type='video/mp4;codecs="mp4a.40.2"'/>
                </video>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>